cmake_minimum_required(VERSION 3.10)
project(stock)

set(CMAKE_CXX_STANDARD 11)
set(SOURCE_EXE main.cpp)
set(SDL2_INCLUDE_DIR usr/include/SDL2)
set(SDL2_LIBRARY SDL2)

include_directories(${SDL2_INCLUDE_DIR})
include_directories(SDL SDL/h)

add_subdirectory(SDL)

add_executable(main ${SOURCE_EXE})

target_link_libraries(main ${SDL2_LIBRARY})
target_link_libraries(main lib)
